<header>
    <div class="menu">
        <a href="index.html"><img src="assets/img/logo-gamemania.png" alt="GameMania" class="logo"></a>

        <div class="form-pesquisa d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="w-100">
                <form action="">
                    <input class="form-control" type="search" placeholder="Busque aqui seu produto..."
                        aria-label="default input example">
                </form>
            </div>
        </div>


        <div>
            <a href=""><img src="assets/img/shopping-cart.png" width="30px" class="image-space icon-menu"></a>
            <a href=""><img src="assets/img/sign-in-alt.png" width="30px" class="icon-menu"></a>
            <a href=""><img class="icon-search" src="assets/img/search.png" width="30px"></a>
            <a href=""><img id="barras" class="barras" src="assets/img/menu.png" alt="Menu de barras"></a>
        </div>
    </div>

    <div class="header-2 posicionamento-header">
        <nav class="container-grid menu-2" id="menu">
            <a href="">Lançamentos</a>
            <a href="">Consoles</a>
            <a href="">Computador</a>
            <a href="">Games</a>
            <a href="">Acessórios</a>
            <a href="">Comunidade</a>
        </nav>
    </div>
</header>

<div id="carrossel" class="carrossel carrossel-size">
    <img src="assets/img/banner1.png" id="imgCarrossel1">
    <img src="assets/img/banner2.png" id="imgCarrossel2">
    <img src="assets/img/banner3.png" id="imgCarrossel3">
</div>

<!-- <div class="banner">
        <div class="flecha-banner-esquerda">
            <img src="img/arrow-left.png">
        </div>

        <div class="flecha-banner-direita">
            <img src="img/arrow-right.png">
        </div>
    </div> -->

<section class="secao-lancamento">
    <h2>Lançamentos</h2>
    <div class="jogos">
        <a href=""><img src="assets/img/jogo1.png"></a>
        <a href=""><img src="assets/img/jogo2.png"></a>
        <a href=""><img src="assets/img/jogo3.png"></a>
        <a href=""><img src="assets/img/jogo4.png"></a>
    </div>
</section>

<section class="secao-mais-vendidos">
    <h2>Mais vendidos</h2>
    <div class="jogos">
        <a href=""><img src="assets/img/jogo5.png"></a>
        <a href=""><img src="assets/img/jogo6.png"></a>
        <a href=""><img src="assets/img/jogo7.png"></a>
        <a href=""><img src="assets/img/jogo8.png"></a>
    </div>
</section>

<section class="secao-pagamento">
    <h3>Formas de pagamento</h3>
        <div class="pagamento">
            <img src="assets/img/payment/img1.png">
            <img src="assets/img/payment/img2.png">
            <img src="assets/img/payment/img3.png">
            <img src="assets/img/payment/img4.png">
            <img src="assets/img/payment/img5.png">
            <img src="assets/img/payment/img6.png">
            <img src="assets/img/payment/img7.png">
            <img src="assets/img/payment/img8.png">
            <img src="assets/img/payment/img9.png">
        </div>
</section>

<footer>
    <div class="mobile-setting">
        <div class="row align-items-start">
            <div class="col mobile-middle">
                <h4>GameMania</h4>
                <a href="">
                    <p>Quem somos</p>
                </a>
                <a href="">
                    <p>Trabalhe conosco</p>
                </a>
            </div>
            <div class="col mobile-hide">
                <h4>Minha conta</h4>
                <a href="">
                    <p>Meus pedidos</p>
                </a>
                <a href="">
                    <p>Meu cadastro</p>
                </a>
                <a href="">
                    <p>Meu carrinho</p>
                </a>
            </div>
            <div class="col mobile-hide">
                <h4>Categorias</h4>
                <a href="">
                    <p>Lançamentos</p>
                </a>
                <a href="">
                    <p>Consoles</p>
                </a>
                <a href="">
                    <p>Computador</p>
                </a>
                <a href="">
                    <p>Games</p>
                </a>
                <a href="">
                    <p>Acessórios</p>
                </a>
                <a href="">
                    <p>Comunidade</p>
                </a>
            </div>
            <div class="col mobile-bottom">
                <h4><a href="">Termos e condições</a></h4>
                <h4><a href="">Política de privacidade</a></h4>
            </div>
            <div class="col mobile-top">
                <a href=""><img src="assets/img/instagram.png"></a>
                <a href=""><img src="assets/img/youtube.png"></a>
                <a href=""><img src="assets/img/facebook.png"></a>
            </div>
        </div>
    </div>

</footer>

<!-- <script>
        let menu = document.getElementById("menu");

        function mostrarMenu() {
            if (menu.style.display != "flex") {
                menu.style.display = "flex"
            } else {
                menu.style.display = "none"
            }
        }
    </script> -->